@import "utils";
@import "fonts";
@import "typography";

body {
  background: $c-gray;
}

table {
  border-collapse: collapse;
  color: #118488;
  background-color: white;
}

td,
th {
  border: 1px solid #118488;
  padding: 10px;
  text-align: center;
}

th {
  font-weight: bold;
  background-color: #fd5c63;
  color: #fff;
}
